<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>mis notitas</h1>
    {%for x in lista%}
    {%if x < 6%}
     <p>notas malas xd {{x}}</p>
    {%else%}
     <p>nota buenisima{{x}}</p> 
    {%endif%} 
    {%endfor%} 


    <h2>auto:</h1>
        {%for clave, valor in auto.items%}
          <p>{{clave}} {{valor}} </p>
        {%endfor%}  


</body>
</html>